

/* BG */
#bg {
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  height: 100%;
  left: 0;
  opacity: 0.375;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#bg div {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 150%;
}
#bg div.visible {
  -moz-animation: bg 45s linear infinite;
  -webkit-animation: bg 45s linear infinite;
  -ms-animation: bg 45s linear infinite;
  animation: bg 45s linear infinite;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
#bg div.visible.top {
  z-index: 2;
}

#bg div:only-child {
  -moz-animation-direction: alternate !important;
  -webkit-animation-direction: alternate !important;
  -ms-animation-direction: alternate !important;
  animation-direction: alternate !important;
}
.is-preload #bg {
  opacity: 0;
}
