/* 전역 스타일 */

html body {
  margin: 0;
  background-color: #131d2b;
}

::-webkit-scrollbar {
  width: 10px;  
}

::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

@font-face {
  font-family: "YanoljaYacheR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf") format("opentype");
}